.row {
	margin-top: 2em;
	text-decoration: none;
	border: none !important;
}
.eng,
.ita,
.esp,
.ger {
	background-color: #dcdcdc;
	width: 12em;
	height: 3em;
	border: none !important;
	color: black;
	text-decoration: none;
}
.eng:hover,
.eng:active,
.ita:hover,
.ita:active,
.esp:hover,
.esp:active,
.ger:hover,
.ger:active {
	background-color: #d0d0d0;
	width: 12em;
	height: 3em;
	border: none !important;
	color: black;
	text-decoration: none;
}
